body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1138px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1139px;
  height:1201px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1139px;
  height:1201px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1138px;
  height:1200px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1138px;
  height:1200px;
}
#u2 {
  position:absolute;
  left:2px;
  top:592px;
  width:1134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1139px;
  height:44px;
}
#u3 {
  position:absolute;
  left:0px;
  top:80px;
  width:1138px;
  height:43px;
  font-family:'OpenSans-SemiBold', 'Open Sans SemiBold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:36px;
  color:#444444;
  text-align:center;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1138px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1139px;
  height:59px;
}
#u5 {
  position:absolute;
  left:0px;
  top:159px;
  width:1138px;
  height:58px;
  font-family:'OpenSans-Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:30px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1138px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:51px;
}
#u8 {
  position:absolute;
  left:454px;
  top:259px;
  width:220px;
  height:50px;
}
#u9 {
  position:absolute;
  left:0px;
  top:2px;
  width:218px;
  word-wrap:break-word;
}
