body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1138px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1138px;
  height:1202px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1138px;
  height:1202px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1138px;
  height:1200px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1138px;
  height:1200px;
}
#u4 {
  position:absolute;
  left:2px;
  top:592px;
  width:1134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-SemiBold', 'Open Sans SemiBold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:36px;
  color:#444444;
  text-align:center;
}
#u5 {
  position:absolute;
  left:0px;
  top:80px;
  width:1120px;
  height:43px;
  font-family:'OpenSans-SemiBold', 'Open Sans SemiBold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:36px;
  color:#444444;
  text-align:center;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#444444;
  text-align:center;
  line-height:32px;
}
#u7 {
  position:absolute;
  left:0px;
  top:159px;
  width:1120px;
  height:98px;
  font-family:'OpenSans-Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#444444;
  text-align:center;
  line-height:32px;
}
#u8 {
  position:absolute;
  left:240px;
  top:0px;
  width:650px;
  word-wrap:break-word;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(0, 164, 224, 1) 0%, rgba(0, 164, 224, 1) 0%, rgba(0, 134, 224, 1) 100%, rgba(0, 134, 224, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 164, 224, 1) 0%, rgba(0, 164, 224, 1) 0%, rgba(0, 134, 224, 1) 100%, rgba(0, 134, 224, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 164, 224, 1) 0%, rgba(0, 164, 224, 1) 0%, rgba(0, 134, 224, 1) 100%, rgba(0, 134, 224, 1) 100%);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  position:absolute;
  left:450px;
  top:295px;
  width:220px;
  height:50px;
}
#u9_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(0, 164, 224, 1) 0%, rgba(0, 164, 224, 1) 0%, rgba(0, 134, 224, 1) 100%, rgba(0, 134, 224, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 164, 224, 1) 0%, rgba(0, 164, 224, 1) 0%, rgba(0, 134, 224, 1) 100%, rgba(0, 134, 224, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 164, 224, 1) 0%, rgba(0, 164, 224, 1) 0%, rgba(0, 134, 224, 1) 100%, rgba(0, 134, 224, 1) 100%);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.247058823529412);
  -webkit-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.247058823529412);
  box-shadow:0px 4px 12px rgba(0, 0, 0, 0.247058823529412);
}
#u9.mouseOver {
}
#u10 {
  position:absolute;
  left:40px;
  top:15px;
  width:140px;
  word-wrap:break-word;
}
