body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1128px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
}
#u11_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1129px;
  height:33px;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:33px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:32px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:33px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:32px;
  font-family:'OpenSans-Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u15_img.mouseDown {
}
#u15.mouseDown {
}
#u15_img.selected {
}
#u15.selected {
}
#u16 {
  position:absolute;
  left:40px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
}
#u17 {
  position:absolute;
  left:196px;
  top:0px;
  width:159px;
  height:32px;
  font-family:'OpenSans-Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u17_img.mouseDown {
}
#u17.mouseDown {
}
#u17_img.selected {
}
#u17.selected {
}
#u18 {
  position:absolute;
  left:40px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
}
#u19 {
  position:absolute;
  left:355px;
  top:0px;
  width:207px;
  height:32px;
  font-family:'OpenSans-Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u19_img.mouseDown {
}
#u19.mouseDown {
}
#u19_img.selected {
}
#u19.selected {
}
#u20 {
  position:absolute;
  left:40px;
  top:7px;
  width:127px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:33px;
}
#u21 {
  position:absolute;
  left:961px;
  top:0px;
  width:167px;
  height:32px;
  font-family:'OpenSans-Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u21_img.mouseDown {
}
#u21.mouseDown {
}
#u21_img.selected {
}
#u21.selected {
}
#u22 {
  position:absolute;
  left:40px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:32px;
  width:1129px;
  height:1431px;
  overflow:hidden;
}
#u23_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:1431px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:1200px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:1200px;
}
#u26 {
  position:absolute;
  left:2px;
  top:592px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29_img {
  position:absolute;
  left:-8px;
  top:-6px;
  width:61px;
  height:61px;
}
#u29 {
  position:absolute;
  left:205px;
  top:169px;
  width:44px;
  height:44px;
}
#u29_img.selected {
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u29.selected {
}
#u30 {
  position:absolute;
  left:2px;
  top:3px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u31 {
  position:absolute;
  left:213px;
  top:177px;
  width:28px;
  height:28px;
}
#u31_img.selected {
}
#u31.selected {
}
#u32 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34_img {
  position:absolute;
  left:-8px;
  top:-6px;
  width:61px;
  height:61px;
}
#u34 {
  position:absolute;
  left:727px;
  top:204px;
  width:44px;
  height:44px;
}
#u34_img.selected {
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u34.selected {
}
#u35 {
  position:absolute;
  left:2px;
  top:3px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u36 {
  position:absolute;
  left:735px;
  top:212px;
  width:28px;
  height:28px;
}
#u36_img.selected {
}
#u36.selected {
}
#u37 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39_img {
  position:absolute;
  left:-8px;
  top:-6px;
  width:61px;
  height:61px;
}
#u39 {
  position:absolute;
  left:1015px;
  top:207px;
  width:44px;
  height:44px;
}
#u39_img.disabled {
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u39.disabled {
}
#u40 {
  position:absolute;
  left:2px;
  top:3px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u41 {
  position:absolute;
  left:1023px;
  top:215px;
  width:28px;
  height:28px;
}
#u41_img.disabled {
}
#u41.disabled {
}
#u42 {
  position:absolute;
  left:0px;
  top:3px;
  width:28px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44_img {
  position:absolute;
  left:-8px;
  top:-6px;
  width:61px;
  height:61px;
}
#u44 {
  position:absolute;
  left:806px;
  top:418px;
  width:44px;
  height:44px;
}
#u44_img.disabled {
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u44.disabled {
}
#u45 {
  position:absolute;
  left:2px;
  top:3px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u46 {
  position:absolute;
  left:814px;
  top:426px;
  width:28px;
  height:28px;
}
#u46_img.disabled {
}
#u46.disabled {
}
#u47 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:1202px;
}
#u49 {
  position:absolute;
  left:1px;
  top:-20px;
  width:1128px;
  height:1201px;
}
#u50 {
  position:absolute;
  left:2px;
  top:592px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1132px;
  height:1184px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:1131px;
  height:1183px;
}
#u52 {
  position:absolute;
  left:2px;
  top:584px;
  width:1127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:1181px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:1180px;
}
#u54 {
  position:absolute;
  left:2px;
  top:582px;
  width:1125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:1182px;
}
#u55 {
  position:absolute;
  left:1px;
  top:0px;
  width:1128px;
  height:1181px;
}
#u56 {
  position:absolute;
  left:2px;
  top:582px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:301px;
}
#u58 {
  position:absolute;
  left:760px;
  top:50px;
  width:360px;
  height:300px;
}
#u59 {
  position:absolute;
  left:2px;
  top:142px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:37px;
}
#u60 {
  position:absolute;
  left:975px;
  top:290px;
  width:121px;
  height:36px;
}
#u60_img.mouseOver {
}
#u60.mouseOver {
}
#u61 {
  position:absolute;
  left:2px;
  top:9px;
  width:117px;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:163px;
}
#u62 {
  position:absolute;
  left:760px;
  top:104px;
  width:360px;
  height:162px;
}
#u63 {
  position:absolute;
  left:24px;
  top:16px;
  width:320px;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:54px;
}
#u64 {
  position:absolute;
  left:760px;
  top:51px;
  width:360px;
  height:53px;
}
#u65 {
  position:absolute;
  left:24px;
  top:32px;
  width:312px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:251px;
}
#u67 {
  position:absolute;
  left:481px;
  top:100px;
  width:360px;
  height:250px;
}
#u68 {
  position:absolute;
  left:2px;
  top:117px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u69 {
  position:absolute;
  left:727px;
  top:290px;
  width:90px;
  height:36px;
}
#u69_img.mouseOver {
}
#u69.mouseOver {
}
#u70 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:105px;
}
#u71 {
  position:absolute;
  left:481px;
  top:160px;
  width:360px;
  height:104px;
}
#u72 {
  position:absolute;
  left:24px;
  top:16px;
  width:320px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:59px;
}
#u73 {
  position:absolute;
  left:481px;
  top:100px;
  width:360px;
  height:58px;
}
#u74 {
  position:absolute;
  left:24px;
  top:32px;
  width:312px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u75 {
  position:absolute;
  left:455px;
  top:221px;
  width:35px;
  height:17px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u76 {
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u77 {
  position:absolute;
  left:809px;
  top:100px;
  width:32px;
  height:32px;
}
#u78 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:251px;
}
#u80 {
  position:absolute;
  left:211px;
  top:188px;
  width:360px;
  height:250px;
}
#u81 {
  position:absolute;
  left:2px;
  top:117px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u82 {
  position:absolute;
  left:457px;
  top:378px;
  width:90px;
  height:36px;
}
#u82_img.mouseOver {
}
#u82.mouseOver {
}
#u83 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:103px;
}
#u84 {
  position:absolute;
  left:211px;
  top:248px;
  width:360px;
  height:102px;
}
#u85 {
  position:absolute;
  left:24px;
  top:16px;
  width:320px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:59px;
}
#u86 {
  position:absolute;
  left:211px;
  top:188px;
  width:360px;
  height:58px;
}
#u87 {
  position:absolute;
  left:24px;
  top:32px;
  width:312px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u88 {
  position:absolute;
  left:562px;
  top:305px;
  width:35px;
  height:17px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u89 {
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u90 {
  position:absolute;
  left:539px;
  top:188px;
  width:32px;
  height:32px;
}
#u91 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:269px;
}
#u93 {
  position:absolute;
  left:498px;
  top:170px;
  width:360px;
  height:268px;
}
#u94 {
  position:absolute;
  left:2px;
  top:126px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
}
#u95 {
  position:absolute;
  left:744px;
  top:378px;
  width:90px;
  height:36px;
}
#u95_img.mouseOver {
}
#u95.mouseOver {
}
#u96 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:104px;
}
#u97 {
  position:absolute;
  left:498px;
  top:250px;
  width:360px;
  height:103px;
}
#u98 {
  position:absolute;
  left:24px;
  top:16px;
  width:320px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:82px;
}
#u99 {
  position:absolute;
  left:498px;
  top:170px;
  width:360px;
  height:81px;
}
#u100 {
  position:absolute;
  left:24px;
  top:32px;
  width:312px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u101 {
  position:absolute;
  left:849px;
  top:287px;
  width:35px;
  height:17px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u102 {
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u103 {
  position:absolute;
  left:826px;
  top:170px;
  width:32px;
  height:32px;
}
#u104 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u106_img {
  position:absolute;
  left:-10px;
  top:-8px;
  width:381px;
  height:286px;
}
#u106 {
  position:absolute;
  left:344px;
  top:711px;
  width:360px;
  height:265px;
}
#u107 {
  position:absolute;
  left:2px;
  top:124px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:116px;
}
#u108 {
  position:absolute;
  left:344px;
  top:711px;
  width:360px;
  height:115px;
}
#u109 {
  position:absolute;
  left:24px;
  top:32px;
  width:312px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:41px;
}
#u110 {
  position:absolute;
  left:519px;
  top:909px;
  width:154px;
  height:40px;
}
#u111 {
  position:absolute;
  left:24px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u112 {
  position:absolute;
  left:374px;
  top:909px;
  width:145px;
  height:40px;
}
#u113 {
  position:absolute;
  left:24px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:83px;
}
#u114 {
  position:absolute;
  left:344px;
  top:826px;
  width:360px;
  height:82px;
}
#u115 {
  position:absolute;
  left:24px;
  top:24px;
  width:312px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:279px;
}
#u117 {
  position:absolute;
  left:334px;
  top:432px;
  width:360px;
  height:278px;
}
#u118 {
  position:absolute;
  left:2px;
  top:131px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u119 {
  position:absolute;
  left:550px;
  top:650px;
  width:120px;
  height:36px;
}
#u119_img.mouseOver {
}
#u119.mouseOver {
}
#u120 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:133px;
}
#u121 {
  position:absolute;
  left:334px;
  top:492px;
  width:360px;
  height:132px;
}
#u122 {
  position:absolute;
  left:24px;
  top:16px;
  width:320px;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:59px;
}
#u123 {
  position:absolute;
  left:334px;
  top:432px;
  width:360px;
  height:58px;
}
#u124 {
  position:absolute;
  left:24px;
  top:32px;
  width:312px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u125 {
  position:absolute;
  left:685px;
  top:563px;
  width:35px;
  height:17px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u126 {
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u127 {
  position:absolute;
  left:662px;
  top:432px;
  width:32px;
  height:32px;
}
#u128 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:161px;
}
#u131 {
  position:absolute;
  left:106px;
  top:232px;
  width:238px;
  height:160px;
}
#u132 {
  position:absolute;
  left:2px;
  top:72px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:15px;
}
#u133 {
  position:absolute;
  left:210px;
  top:218px;
  width:30px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u134 {
  position:absolute;
  left:2px;
  top:-1px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:77px;
}
#u135 {
  position:absolute;
  left:106px;
  top:232px;
  width:238px;
  height:76px;
  font-size:16px;
}
#u136 {
  position:absolute;
  left:24px;
  top:24px;
  width:182px;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
}
#u137 {
  position:absolute;
  left:211px;
  top:332px;
  width:109px;
  height:36px;
}
#u138 {
  position:absolute;
  left:2px;
  top:9px;
  width:105px;
  word-wrap:break-word;
}
